.title{
  text-align: center;
  margin-top: 1em;
  color: navy
}

.list-container{
  margin-top: 2em;
}

.find-button{
  margin-top: 2em;
}

.contact-form {
  margin-top: 2em;
}

@font-face {
  font-family: 'Danjo-bold-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.body{
  font-family: 'Danjo-bold-Regular';
}
